* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --light-blue: #2A92CA;
    --dark-blue: #1E72AB;
    --pink: #FAB641;
    --yellow: #FCD604;
    --very-light-yellow: #FDF68F;
    --white-yellow: #FFFDDA;
    --brown-green: #EC6D2B;
    --very-dark-blue: #001726;
    --gray: #E8F1F6;
}
body {
    font-family: 'Prompt', sans-serif;
    color: var(--very-dark-blue);
}
/* hero section */
.hero-section {
    display: grid;
    place-items: center;
}
.hero-video-cotainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-video-cotainer video {
    width: 100%;
    height: auto;
}
/* product section */
.prodcut-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.product-image-container img{
    max-width: 400px;
}
.product-title-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    color: var(--very-dark-blue);
}
.product-title-container figure {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.product-title-container img {
    width: 300px;
}
@media screen and (max-width: 425px) {
    .product-image-container img{
        max-width: 300px;
    }
    .prodcut-section {
        margin: 20px;
        margin-top: 40px;
        gap: 20px;
        flex-direction: column-reverse;
    }
}
@media screen and (min-width: 768px) {
    .prodcut-section {
        flex-wrap: nowrap;
    }
}
/* categories section  */
.categories-section {
    background-color: var(--brown-green);
    padding: 80px;
}
.categories-section h2 {
    color: white;
    margin-bottom: 40px;
    text-align: center;
    font-size: 64px;
    font-weight: 500;
}
.categories-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
    align-items: center;
}
.categories-card {
    background-color: white;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.plate {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.categorie-dish {
    color: var(--very-dark-blue);
    padding: 12px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.categorie-name {
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.categories-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.categorie-name i {
    color: var(--very-dark-blue);
}
.categorie-name .tostadas{
    color: var(--light-blue);
}
.categorie-name .ceviches{
    color: var(--yellow);
}
@media screen and (max-width: 768px) {
    .categories-section h2 {
        font-size: 32px;
    }
    .categories-card {
        width: 300px;
    }
    .categories-card img {
        width: 300px;
    }
}

/* best selling section */
.best-selling-section {
    margin: 80px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.best-selling-video-container video {
    width: 300px;
}
.best-selling-title-container {
    color: var(--dark-blue);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.best-selling-title-container span {
    color: var(--pink);
}
.best-selling-card {
    padding: 12px;
    background-color: var(--gray);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    color: var(--very-dark-blue);
}
.best-selling-card {
    color: var(--dark-blue);
    font-size: 24px;
}
.best-selling-title-container :hover {
    background-color: var(--very-dark-blue);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width:425px) {
    .best-selling-section {
        margin: 20px;
    }
}
@media screen and (min-width: 425px) {
    .best-selling-img-container img {
        width: 400px;
    }
}
/* delivery container */
.delivery-section {
    margin: 80px;
    padding: 80px;
    background-color: var(--white-yellow);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.delivery-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 400px;
}
.delivery-img-container img {
    width: 300px;
}
.delivery-content-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.delivery-content-container i {
    color: var(--brown-green);
    width: 30px;
}
@media screen and (max-width: 425px) {
    .delivery-section {
        margin: 20px;
        padding: 12px;
    }
}
@media screen and (min-width: 768px) {
    .delivery-section {
        flex-wrap: nowrap;
    }
    .delivery-img-container img {
        width: 400px;
    }
}
/* testimonial section */
.testimonial-section {
    margin: 20px;
    display: grid;
    place-items: center;
}
.testimonial-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}